In [1]:
mystring="HELLO"
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [2]:
mylist

['H', 'E', 'L', 'L', 'O']

In [3]:
mystring="HELLO"
mylist=[letter for letter in mystring]

In [4]:
mylist

['H', 'E', 'L', 'L', 'O']

In [10]:
mystring="I Understood"
mylist=[lett for lett in mystring]

In [11]:
mylist

['I', ' ', 'U', 'n', 'd', 'e', 'r', 's', 't', 'o', 'o', 'd']

In [8]:
mystring="WORLD"
mylist=[lett for lett in mystring]

In [9]:
mylist

['W', 'O', 'R', 'L', 'D']

In [16]:
mylist=[lett for lett in range(0,10,2)]

In [17]:
mylist

[0, 2, 4, 6, 8]

In [22]:
mylist=[lett**2 for lett in range(0,11)]

In [23]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
mylist=[lett**2 for lett in range(0,11) if lett % 2==1]

In [29]:
mylist

[1, 9, 25, 49, 81]

In [38]:
# if else in list comprehension
mylist=[x if x % 2==1 else "EVEN"  for x in range(0,11) ]

In [39]:
mylist

['EVEN', 1, 'EVEN', 3, 'EVEN', 5, 'EVEN', 7, 'EVEN', 9, 'EVEN']

In [30]:
celcius=[35,36,37,38,39,40]
fahrenheit=[(9/5*temp+32) for temp in celcius]

In [31]:
fahrenheit

[95.0, 96.8, 98.60000000000001, 100.4, 102.2, 104.0]

In [34]:
#if we will do in for loop
celcius=[35,36,37,38,39,40]
fahrenheit=[]
for temp in celcius:
    fahrenheit.append(9/5*temp+32)

In [35]:
fahrenheit

[95.0, 96.8, 98.60000000000001, 100.4, 102.2, 104.0]

In [40]:
# nested loop using for and list comprehension
mylist=[]
for x in [1,2,3]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [41]:
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [42]:
mylist=[x*y for x in [1,2,3] for y in [1,10,100] ]

In [43]:
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]