In [14]:
#1. Enter marks of 5 Subjects(hindi,eng,math,sci,sst) print total and percentage.
Hindi=67
English=52
Math=70
Science=62
SST= 72
total=(Hindi+English+Math+Science+SST)
percentage=total/5

print(" Total marks of all 5 subjects are:", total)
print(" Total percentage is :%",percentage)

 Total marks of all 5 subjects are: 323
 Total percentage is :% 64.6

In [13]:
#Enter Principle, Rate, Time print simple interest, amount with interest
principle= 30000
rate= 15/100
time= 8
Amount=principle+principle*rate
Amount
simple_interest=principle+principle*rate*time
print(" Amount with interest is: ",Amount)
print(" Simple interest is: ",simple_interest)

 Amount with interest is:  34500.0
 Simple interest is:  66000.0

In [18]:
#Enter 2 Nos print there value after swap :: use third variable
num1= 23
num2= 45
num3=num1
num1=num2
num2=num3
print(num1)
print(num2)

45
23

In [25]:
#Enter 2 Nos print there value after swap :: without using third variable
x = 5
y = 10

x, y = y, x
print("New value of x is: ",x)
print("New value of y is: ", y)

New value of x is:  10
New value of y is:  5

In [27]:
#Enter 2 Nos print there value after swap :: without using third variable
x=5
y=10
x = x + y
y = x - y
x = x - y
print("New value of x is: ",x)
print("New value of y is: ", y)

New value of x is:  10
New value of y is:  5

In [31]:
#Enter 2 Nos print there value after swap :: without using third variable
x=5
y=10
x = int(x * y)
y = int(x / y)
x = int(x / y)
print("New value of x is: ",x)
print("New value of y is: ", y)

New value of x is:  10
New value of y is:  5

In [36]:
#Input basic salary of employee , Calculate 40% HRA, 10% DA, 5 GPF, Print Net Salary
Basic_salary= 15000
HRA=40/100*Basic_salary
DA=10/100*Basic_salary
GPF=5/100*Basic_salary
Gross_Salary=Basic_salary+HRA+DA+GPF
Net_salary=Gross_Salary-GPF
Gross_Salary
print("Net Salary is =", Net_salary)

Net Salary is = 22500.0

In [43]:
#Input 4 digit number calculate sum of its digits
num='9876'
a=int(num[0])
b=int(num[1])
c=int(num[2])
d=int(num[3])
total=a+b+c+d
total

30

In [8]:
#Input 4 digit number calculate sum of its digits
num=int(input("enter 4 Digit Number")) #4567
total=0               #0
total=total+num%10    #7
num=num//10           #456
total=total+num%10    #13
num=num//10           #45
total=total+num%10    #18
num=num//10           #4
total=total+num%10    #22
print("Total of digits ", total)

enter 4 Digit Number4567
Total of digits  22

In [44]:
# Input 4 Digit number print Reverse of its digits

In [52]:
num=9876
num1=str(num)
a=num1[3]
b=num1[2]
c=num1[1]
d=num1[0]
Sum=a+b+c+d
num=Sum
print(" New reverse number is: ", num)

 New reverse number is:  6789

In [9]:
# Input 4 Digit number print Reverse of its digits
num=int(input("enter 4 Digit Number"))
rev=0
rev=rev*10+num%10     #7
num=num//10           #456
rev=rev*10+num%10     #76
num=num//10           #45
rev=rev*10+num%10     #765
num=num//10           #4
rev=rev*10+num%10     #7654
num=num//10 
print("Reverse of digits number is ", rev)

enter 4 Digit Number4567
Reverse of digits number is  7654

In [68]:
#. Input Premium of RD print Maturity : criteria Min Premium is 5 Rs /- Month for 5 Years Maturity is 365.27 
premium=float(input("Enter a amount in multiply of 5: "))
time=float(60)
maturity=(float(premium*time*1.21757))
maturity

Enter a amount in multiply of 5: 5

365.271

In [5]:
amount=int(input("enter amount"))
fives=amount//5
maturity=fives*364.27
print("maturity = ",maturity)

enter amount14
maturity =  728.54