In [10]:
name= "suraj"
sirname= 'Chaudhary'
age= 30
print("My name is %s %s and I am %d years old" %(name,sirname,age))

My name is suraj Chaudhary and I am 30 years old

In [18]:
a=20
b=30.654
print("a=%d b=%f"%(a,b))

a=20 b=30.654000

In [19]:
a=20
b=30.654
print("a=%-2d b=%4.2f"%(a,b))

a=20 b=30.65

In [22]:
"my name is {} {} and I am {} years old".format(name,sirname,age)

'my name is suraj Chaudhary and I am 30 years old'

In [23]:
new_name="my name is {} {} and I am {} years old".format(name,sirname,age)
new_name

'my name is suraj Chaudhary and I am 30 years old'

In [24]:
new_name.upper()

'MY NAME IS SURAJ CHAUDHARY AND I AM 30 YEARS OLD'

In [25]:
new_name.capitalize()

'My name is suraj chaudhary and i am 30 years old'

In [26]:
new_name.title()

'My Name Is Suraj Chaudhary And I Am 30 Years Old'

In [27]:
modified_name="my name is {:s} {:s} and I am {:d} years old".format(name,sirname,age)

In [29]:
modified_name.capitalize()

'My name is suraj chaudhary and i am 30 years old'

In [30]:
modified_name

'my name is suraj Chaudhary and I am 30 years old'

In [31]:
"{:>10}".format(name)

'     suraj'

In [32]:
"{:<10}".format(name)

'suraj     '

In [33]:
"{:^10}".format(name)

'  suraj   '

In [34]:
modified_name

'my name is suraj Chaudhary and I am 30 years old'

In [35]:
modified_name.find('a')

4

In [36]:
modified_name.find('and')

27

In [43]:
modified_name.count('suraj')

1

In [44]:
modified_name.isalpha()

False

In [45]:
modified_name.isdigit()

False

In [46]:
modified_name.islower()

False

In [47]:
modified_name.isupper()

False

In [59]:
str1="HELLO WORLD"
str2="hello world"
str3="300 s"
str4=('300')

In [49]:
str1.isdigit()

False

In [50]:
str1.isalpha()

False

In [51]:
str1.islower()

False

In [52]:
str1.isupper()

True

In [53]:
str2.islower()

True

In [60]:
str4.isdigit()

True

In [61]:
str3.isdigit()

AttributeError: 'int' object has no attribute 'isdigit'